@use '../custom' as *;
@use '../components/mixins' as *;


.portfolio_details_area {
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
}
.portfolio_details_inner {
    .row{
        margin-bottom: 65px;
        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
    }
    p {
        margin-bottom: 30px;
        font-size: 14px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .portfolio_right_text {
        margin-top: 50px;
        @media (max-width:991px) {
            margin-top: 0px;
        }
        @media (max-width: 576px) {
            margin-top: 50px;
        }
        h4 {
            color: $primary;
            font-size: 21px;
            margin-bottom: 18px;
            font-weight: 700;
        }
        p {
            margin-bottom: 25px;
            font-size: 14px;
        }
        .list {
            li {
                margin-bottom: 7px;
                span {
                    font-size: 14px;
                    color: #fff;
                    font-weight: 400;
                    width: 97px;
                    display: inline-block;
                }
                font-weight: normal;
                font-size: 14px;
                &:last-child {
                    margin-bottom: 0px;
                }
                i {
                    color: $secondary;
                }
            }
        }
    }
}
.social_details {
    margin-top: 50px;
    @media (max-width: 480px) {
      margin-top: 20px;
    }
    li {
      display: inline-block;
      margin-right: 14px;
      a {
        font-size: 14px;
        i {
          color: #000 !important;
          &:hover {
            color: $primary !important;
          }
        }
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }