@use '../custom' as *;
@use '../components/mixins' as *;

.projects_item {
    position:relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    &::before{
        content:"";
        background: #000;
        position:absolute;
        left: 0px;
        top: 0px;
        width:100%;
        height: 100%;
        opacity: 0;
        transition: all 300ms ease;
    }
    .project_text{
        position:absolute;
        width: 100%;
        left: 50%;
        bottom: 0px;
        @include transform(translate(-50%));
        text-align: center;
        opacity: 0;
        visibility: hidden;
        @include transition();
        h4{
            font-size: 20px;
            color: #fff;
            margin-bottom: 5px;
            @include transition;
            text-transform: uppercase;
            cursor: pointer;
        }
        p {
            margin-bottom: 0px;
            font-size: 15px;
            color: #fff;
        }
    }
    &:hover{
        &:before{
            opacity: 0.4;
        }
        .projects_text{
            opacity: 1;
            visibility: visible;
            bottom: 30px;
        }
    }
}
//Visualization Details Area CSS
.porfolio_details_area{
    
}