@use '../custom' as *;



.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;

    &--intro{
        display: inline-block;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;

    }

    &--description{
        font-size: 1.5rem;
        text-transform: none;
        display: block;
        margin-top:1.2rem;
    }
}